@use '@angular/material' as mat;
@include mat.core();
$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette);
$typography: mat.m2-define-typography-config();
$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
  ),
  typography: $typography,
  density: 0,
));
@include mat.all-component-themes($theme);
body { font-family: Roboto, Arial, sans-serif; margin: 0; }
